{{<layout}}

{{$pageTitle}}
	HMRC Node Prototype
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

  <div class="phase-banner">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="https://designpatterns.hackpad.com/GOV.UK-elements-feedback-sKrDyQxcfA2">feedback</a> will help us to improve it.</span>
    </p>
  </div>
  
  <form action="/summary" method="post" class="form">

    <h1 class="form-title heading-large">Summary Page</h1>

    <div class="form-group">
      <h2 class="summary-item-heading">Summary Page</h2>
      <table class="summary-item-body">
        <thead class="summary-item-field-headings">
          <tr>
            <th scope="col">Key</th>
            <th scope="col">Value</th>
          </tr>
        </thead>
        <tbody>
          <tr class="summary-item-row">
            <td class="summary-item-field-name"><span>Checkbox label</span></td>
            <td class="summary-item-field-content"><span>Checkbox value</span></td>
          </tr>
           <tr class="summary-item-row">
            <td class="summary-item-field-name"><span>Textbox label</span></td>
            <td class="summary-item-field-content"><span>Textbox value</span></td>
          </tr>
	 <tr class="summary-item-row">
            <td class="summary-item-field-name"><span>Date label</span></td>
            <td class="summary-item-field-content"><span>Date value</span></td>
          </tr>                   
        </tbody>
      </table>
    </div>
	
	<p><a id="back" href="/first">Back</a></p>
  </form>

</main><!-- / #page-container -->

{{/content}}

{{/layout}}
